body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.grid {
    display: flex;
    gap: 20px; /* Add space between the two containers */
}

.container {
    background-color: #6ad6c4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
}

.pin-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.pin-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pin-inputs {
    display: flex;
    gap: 5px;
}

.pin-inputs input {
    width: 40px;
    text-align: center;
    font-size: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
    max-height: 280px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 25px; /* Add space between list items */
}

li {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

button.message {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}